<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modificando Anuncio - RePlay</title>
 <link rel="icon" type="image/x-icon" href="/images/IconHome.png">
<link href="../card.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../estilos2.css">
<link rel="stylesheet" href="../fontawesome_listo/css/all.css">
</head>
<body>

	<!-- encabezado -->
	<header th:replace="fragmentos/usuAdmin/frag_header ::header"></header>
    

	
	<form class="form" th:action="@{/anuncios/persistirA}" method="post" th:object="${anuncio}"  enctype="multipart/form-data">
		<h5>MODIFICANDO ANUNCIO</h5>
		<input class="campos" type="text" name="nombre" placeholder="¿Qué quiere anunciar?"  th:field="*{nombre}">
		<input class="campos" type="number" name="precio" placeholder="¿A cuanto lo quiere vender?"  th:field="*{precio}">
		<!--  <p> Estado: <input type="text" th:field="*{estado}"> </p> -->
		<select class="campos" name="estado" id="estado" placeholder="Cambia el estado del anuncio" th:field="*{estado}">
    		<option value="En venta">En venta</option>
    		<option value="Reservado">Reservado</option>
    		<option value="Vendido">Vendido</option>
  		</select>

		<input class="campos" type="text" name="descripcion" placeholder="Añade información sobre tu producto ..." th:field="*{descripcion}">

  		<select class="campos" name="categoria" id="categoria"  placeholder="Escoge una categoria" th:field="*{categoria}">
    		<option value="Videojuegos">Videojuegos</option>
    		<option value="Consolas">Consolas</option>
    		<option value="PC Gaming">PC Gaming</option>
    		<option value="Accesorios">Accesorios</option>
  		</select>
		<div class="form-group">
	        <input type="file" name="file" class="form-control-file">
        </div>
		<input type="hidden" th:field="*{idProductos}" th:value="${anuncio.idProductos}"/>
		
		<p> <input class="boton"type="submit" value="Modificar"/> </p>
		
	</form>

</body>
</html>