@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
* {
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    
}


body {
    margin: 0;
    background-color: #f7f8fc;
    font-family: "Roboto", sans-serif;
    color: #10182f;
    
}


/*HEADER - NAV*/
header {
	font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-between;
    /*space-between*/
    /*flex-end: derecha*/
    width: 100%;
    height: 80px;
    align-items: center;
    padding: 25px 10%;
    background-color: #242F9B;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    min-width: 655px;
}



li,
a,
button {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: white;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    color: azure;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size:1.3em;
}

.nav {
    list-style: none;
}

.nav li {
    display: inline-block;
    padding: 0px 15px;
    margin-left: 5px;
}

.nav li a {
    transition: all 0.3s ease 0s;
}

.nav li a:hover :not(.añadir,
.fa-solid) {
    color: coral;
}

/*buscador*/
.cajaBuscador {
	margin: auto;
}

.cajaBuscador input {
	height: 32px;
	border-radius: 10px;
	border:none;
	color: black;
}


/*boton nuevo anuncio*/
.new {
    background-color: #5FB8FF;
    border: 3px solid white;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    text-align: center;
    transition: all 0.2s linear;
    cursor: pointer;
}

.new a {
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    color: white;
    line-height: 30px;
    position: relative;
    right: 5px;
}

.new:hover {
    background-color: #4661F5;
    color: white;
    border-radius: 20%;
}

.fa-solid {
    color: white;
    font-size: 1.6em;
    transition: all 0.3s ease 0s;
}

.fa-solid:hover {
   color: #9BA3EB;
}

header button {
    padding: 9px 25px;
    margin-left: 20px;
    border: none;
    background: #9BA3EB;
    color: #fff;
    box-shadow: 0 6px #646FD4;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s;
    
}

button:hover {
    background-color: #646FD4;
    cursor: pointer;
}




/**/
.contenedor0 {
  width: 30%; 
  margin: 5% auto 0 auto;
  background-color: subtle-white;
  max-width: 800px;
  text-align: center;
  min-width: 161px;
  
}


.cruds{
	margin: 0 auto;
   background-color: #9BA3EB;
    border-radius: 10px;
    width: 100%;
    margin-top: 50px;
    padding: 50px;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    
}

.cruds .fa-solid {
	font-size:18px;
}

.cruds li {
	display: inline-block;
      padding: 15px;
      position: relative;
}

.cruds li:hover {
	background-color: #646FD4;
	border-radius: 10px;
}




/*crud*/
.contenedor {
    font-family: "Roboto", sans-serif;
    width: 70%;
    color: black;
    margin: 100px auto;
}

.tabla {
    margin: 0 auto;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 50px;
    padding: 50px;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 5px;
    font-family: "Roboto", sans-serif;
}

.tabla tr {
    border: 1px solid #ddd;
    padding: 5px;
}

.tabla td,
.tabla th {
    padding: 10px;
    text-align: center;
}

.tabla th {
    text-transform: uppercase;
    font-family: 18px;
    Letter-spacing: 1px;
}

.tabla tbody tr:nth-child(even) {
    background-color: lightsteelblue;
}

.tabla tbody tr:hover {
    background-color: blanchedalmond;
}


/*botones*/

.eliminar {
    background-color: #cb4e4e;
    color: white;
    cursor: pointer;
}

.eliminar:hover {
    background-color: #ab3c3c;
}

.modificar {
    background-color: #4593e3;
    color: white;
    cursor: pointer;
}

.modificar:hover {
    background-color: #226fbe;
}

.contenedor .insertar {
    margin-top: 155px;
    background: #17aa56;
    color: #fff;
    box-shadow: 0 6px #119e4d;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s;
}

.contenedor .insertar:hover {
    background-color: #119e4d;
    cursor: pointer;
}

.titulo {
	text-align:center;
	margin-top:50px;
}


/*media*/

@media (max-width:1080px) {
	
    .tabla {
        border: 0;
    }
    .tabla tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
        border: none;
    }
    .tabla td {
        display: block;
        font-size: 16px;
        border-bottom: 1px solid #ccc;
        text-align: right;
    }
    .tabla td:last-child {
        border-bottom: 0;
    }
    .tabla td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: 600;
    }
    .tabla th {
        display: none;
    }
    .tabla .eliminar,
    .tabla .modificar {
        text-align: center;
    }
}