<head>
<meta charset="UTF-8">
</head>

<div th:fragment="categorias" class="contenedor0">
		<ul class="categorias">
                <a th:href="@{/anuncios/VideojuegosA}"><li> <i class="fa-solid fa-dice-d6"></i> Videojuegos</li></a>
                <a th:href="@{/anuncios/ConsolasA}"> <li> <i class="fa-solid fa-gamepad"></i> Consolas</li> </a>
                <a th:href="@{/anuncios/PC GamingA}"> <li> <i class="fa-solid fa-desktop"></i> PC Gaming</li></a>
                <a th:href="@{/anuncios/AccesoriosA}"> <li> <i class="fa-solid fa-headset"></i> Accesorios</li></a>
             </tr>
    	</ul>
	</div>