<head>
<meta charset="UTF-8">
</head>

<header th:fragment="header">
        <a th:href="@{/Home}"> <img class="logo" src="/images/IconHome.png" alt="logo"> </a>    
        <a class="logo" th:href="@{/Home}"> <p>RePlay</p> </a> 
        <nav>
            <ul class="nav">
            	<li class="cajaBuscador"> 
            		<form th:action="@{/anuncios/buscar}" class="formBuscador" 
            		th:object="${anuncio}">
                <input class="textoBuscador" type="search" placeholder="Busca ..." name="query">
                <button class="botonBuscador" type="submit">
                    <i class="fa fa-search"
                        style="font-size: 18px;">
                    </i>
                </button>
            	</form> 
            </li>
             
            </ul>
        </nav>
        <a class="botonR" th:href="@{/usuarios/inserta}"><button>Registrate</button></a> 
        <a class="botonR" th:href="@{/usuarios/login}"><button>Iniciar Sesión</button></a>
    </header>