<head>
<meta charset="UTF-8">
</head>

<header th:fragment="header">
        <a th:href="@{/Home/R}"> <img class="logo" src="/images/IconHome.png" alt="logo"> </a>    
        <a class="logo" th:href="@{/Home/R}"> <p>RePlay</p> </a> 
        <nav>
            <ul class="nav">
            	<li class="cajaBuscador"> <form th:action="@{/anuncios/buscarR}" class="formBuscador" 
            		th:object="${anuncio}">
                <input class="textoBuscador" type="search" placeholder="Busca ..." name="query">
                <button class="botonBuscador" type="submit">
                    <i class="fa fa-search"
                        style="font-size: 18px;">
                    </i>
                </button>
            </form> </li>
                <li><a th:href="@{/anuncios/paginaLikesR}" title="Mis Likes"><i class="fa-solid fa-heart"></i></a></li>
                <li class="new"><a th:href="@{/anuncios/insertaR}" title="Crear Anuncio">+</a></li> 
                <li><a th:href="@{/usuarios/perfilR}" title="Ver Perfil"><i class="fa-solid fa-circle-user"></i> </a></li>
                <li><p th:text="${usuario.nombre}"></p></li>
                <li><a th:href="@{/usuarios/logout}"><i class="fa-solid fa-arrow-right-from-bracket" title="Cerrar Sesión"></i></a></li>
            </ul>
        </nav>
    </header>