<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Buscador - RePlay</title>
 <link rel="icon" type="image/x-icon" href="/images/IconHome.png">
<link rel="stylesheet" href="../fontawesome_listo/css/all.css">
<link href="../card.css" rel="stylesheet" type="text/css">
</head>
<body>
<body>
	<!-- encabezado -->
	<header th:replace="fragmentos/usuRegistrado/frag_header ::header"></header>
    
    
            
  
            
     <!-- buscar anuncios-->
    <div th:if="${anuncios.size}"> <!-- si tiene = true -->
    <h2 class="tituloA1">RESULTADOS ANUNCIOS</h2>
    </div>
    
    <div th:unless="${anuncios.size}"> <!-- si no tiene = false -->
    <h3 class="tituloA2">NO HAY RESULTADOS (anuncios)</h3>
    </div>
    
    
    
    <!-- anuncios -->
	<article>
	  <div class="container">
        <div class="card" th:each="anuncio :${anuncios}">
        <a th:href="@{/anuncios/seleccionarR(idProductos=${anuncio.idProductos})}">
            <div class="card-header">
                <img th:src="@{${ '/' + anuncio.urlImg}}" alt="rover" />
            </div>
            <div class="card-body">
            	<div class="encabezado">
                	<span class="precio" th:text="${anuncio.precio}"></span>
                	<div th:switch="${anuncio.precio}">
                		<a th:case="*" th:href="@{/anuncios/like(idProductos=${anuncio.idProductos})}"><i class="fa-solid fa-heart"></i></a>
                		<a th:case="2" th:href="@{/anuncios/like(idProductos=${anuncio.idProductos})}"><i class="fa-regular fa-heart"></i></a>
                		<a th:case="1" th:href="@{/anuncios/like(idProductos=${anuncio.idProductos})}"><i class="fa-solid fa-heart-crack"></i></a>
                	</div>
                </div>
                <h4 th:text="${anuncio.nombre}"></h4>
                <p th:text="${anuncio.categoria}"></p>
                <p th:text="${anuncio.estado}"></p>
                <p th:text="${anuncio.descripcion}"></p>
               
            </div>
            </a>
        </div>
       </div>
     </article>
     
     
     <!-- buscar usuarios-->
    <div th:if="${usuarios.size}"> <!-- si tiene = true -->
    <h2 class="tituloU1">RESULTADOS USUARIOS</h2>
    </div>
     
    <div th:unless="${usuarios.size}"> <!-- si no tiene = false -->
    <h3 class="tituloU2">NO HAY RESULTADOS (usuarios)</h3>
    </div>
     
     
   <!-- usuarios -->
     <article>
	  <div class="container">
        <div class="card" th:each="usuario :${usuarios}">
          <a th:href="@{/usuarios/seleccionarUR(idUsuarios=${usuario.idUsuarios})}"> 
            <div class="card-header">
               <img src="/images/UserIcon.png" width="80px" height="80px" alt="user" />
            </div>
            <div class="card-body">
                <h4 th:text="${usuario.nombre}"></h4>
                <p th:text="${usuario.correo}"></p>
                <p th:text="${usuario.telefono}"></p>
                <p th:text="${usuario.fechaCreacion}"></p>
            </div>
            </a>
        </div>
       </div>
     </article>
     
    </body>  
</html>