<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modificando Perfil - RePlay</title>
 <link rel="icon" type="image/x-icon" href="/images/IconHome.png">
<link href="../card.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../estilos2.css">
<link rel="stylesheet" href="../fontawesome_listo/css/all.css">
</head>
<body>

	<!-- encabezado -->
	<header th:replace="fragmentos/usuRegistrado/frag_header ::header"></header>
    

	
	<form class="form" th:action="@{/usuarios/persistirR}" method="post" th:object="${usuario}">
		<h5>MODIFICANDO USUARIO</h5>
		<input class="campos" type="text" name="nombre" th:field="*{nombre}">
		<input class="campos" type="text" name="nombre" th:field="*{correo}">
		<input class="campos" type="text" name="nombre" th:field="*{telefono}">
		<input class="campos" type="text" name="nombre" th:field="*{contraseña}">
		
		<input type="hidden" th:field="*{idUsuarios}" th:value="${usuario.idUsuarios}"/>
		
		<p> <input class="boton"type="submit" value="Modificar"/> </p>
		
	</form>

</body>
</html>