<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Perfil - RePlay</title>
 <link rel="icon" type="image/x-icon" href="/images/IconHome.png">
<link rel="stylesheet" href="../fontawesome_listo/css/all.css">
<link href="../cardSeleccion.css" rel="stylesheet" type="text/css">
</head>
<body>
	<!-- encabezado -->
	<header th:replace="fragmentos/usuRegistrado/frag_header ::header"></header>
    

	<article>
	  <div class="container">
        <div class="card">
            <div class="card-header">
               <a th:href="@{/usuarios/modificarr(idUsuarios=${usuario.idUsuarios})}"><i class="fa-solid fa-gear"></i></a>
               
            </div>
            <div class="card-body">
                <!--   <span class="precio" th:text="${anuncio.precio}"></span> -->
                <img src="/images/UserIcon.png" width="60px" height="60px" alt="user" />
                    <h4 th:text="${usuario.nombre}"></h4>  
                    <h4 th:text="${usuario.correo}"></h4> 
                    <h4 th:text="${usuario.telefono}"></h4> 
                    <h4 th:text="${usuario.fechaCreacion}"></h4> 
                <!--  <p th:text="${anuncio.descripcion}"></p>-->
                <!--  <a th:href="@{/anuncios/seleccionar(idProductos=${anuncio.idProductos})}">Ver Producto</a> -->
                <div class="user">
                    <!--  <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />  -->
                    <!--  <div class="user-info">
                        <h5>July Dec</h5>
                        <small>2h ago</small>
                    </div> -->
                </div> 
            </div>
        </div>
       </div>
    </article>
    
    <article>
     <div class="container">
        <div class="cardP" th:each="anuncio :${anuncios}">
        <a th:href="@{/anuncios/seleccionarR(idProductos=${anuncio.idProductos})}">
            <div class="card-headerP">
                <img th:src="@{${ '/' + anuncio.urlImg}}" alt="rover" />
            </div>
            <div class="card-body">
            	<div class="encabezado">
                	<span class="precio" th:text="${anuncio.precio}"></span>
                	<!--  <a th:href="@{/anuncios/inserta}"><i class="fa-solid fa-heart"></i></a> -->
                	<a th:href="@{/anuncios/modificarR(idProductos=${anuncio.idProductos})}"><i class="fa-solid fa-gear"></i></a>
                	<a th:href="@{/anuncios/eliminarR(idProductos=${anuncio.idProductos})}"><i class="fa-solid fa-xmark"></i></a>
                	
                	
                </div>
                <h4 th:text="${anuncio.nombre}"></h4>
                <p th:text="${anuncio.categoria}"></p>
                <p th:text="${anuncio.estado}"></p>
                <p th:text="${anuncio.descripcion}"></p>
                <!--  <a th:href="@{/anuncios/seleccionar(idProductos=${anuncio.idProductos})}">Ver Producto</a> -->
                <!--  
                <div class="user">
                    <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
                    <div class="user-info">
                        <h5>July Dec</h5>
                        <small>2h ago</small>
                    </div>
                </div> -->
            </div>
            </a>
        </div>
       </div>
       </article>
    </body>
</html>