<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>MOFICICANDO COMENTARIO</h1>
	
	<form th:action="@{/comentarios/persistir}" method="post" th:object="${comentario}">
		<p> Fecha: <input type="date" th:field="*{fecha}"> </p>
		<p> Texto: <input type="text" th:field="*{texto}"> </p>
		
		
		
		<input type="hidden" th:field="*{idComentarios}" th:value="${comentario.idComentarios}"/>
		
		<input type="submit" value="modificar" />
		
	</form>

</body>
</html>