<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Categoría - RePlay</title>
 <link rel="icon" type="image/x-icon" href="/images/IconHome.png">
<link rel="stylesheet" href="../fontawesome_listo/css/all.css">
<link href="../card.css" rel="stylesheet" type="text/css">

</head>
<body>
	<!-- encabezado -->
	<header th:replace="/fragmentos/usuAnonimo/frag_header ::header"></header>
    
    
    
    <!-- categorias -->
    <div th:replace="/fragmentos/usuAnonimo/frag_categorias ::categorias"></div>
    
    
    <!-- anuncios -->
	<article>
	  <div class="container">
        <div class="card" th:each="anuncio :${anuncios}">
        <a th:href="@{/anuncios/seleccionar(idProductos=${anuncio.idProductos})}">
            <div class="card-header">
                <img th:src="@{${ '/' + anuncio.urlImg}}" alt="rover" />
            </div>
            <div class="card-body">
            	<div class="encabezado">
                	<span class="precio" th:text="${anuncio.precio}"></span>
                	
                </div>
                <h4 th:text="${anuncio.nombre}"></h4>
                <p th:text="${anuncio.categoria}"></p>
                <p th:text="${anuncio.estado}"></p>
                <p th:text="${anuncio.descripcion}"></p>
                <!--  <a th:href="@{/anuncios/seleccionar(idProductos=${anuncio.idProductos})}">Ver Producto</a> -->
                
            </div>
            </a>
        </div>
       </div>
     </article>
</html>