<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Selección - RePlay</title>
 <link rel="icon" type="image/x-icon" href="/images/IconHome.png">
<link rel="stylesheet" href="../fontawesome_listo/css/all.css">
<link href="../cardSeleccion.css" rel="stylesheet" type="text/css">
</head>
<body>
	<!-- encabezado -->
	<header th:replace="fragmentos/usuAnonimo/frag_header ::header"></header>
    
    
  
	
    <!-- Usuario -->
    <article>
	  <div class="container">
        <div class="card">
            
            <div class="card-bodyU">
                <img src="/images/UserIcon.png" width="80px" height="80px" alt="user" />
                    <div><h4>Nombre: </h4>   <span th:text="${usuario.nombre}"></span> 
                    	<h4>Correo: </h4>   <span th:text="${usuario.correo}"></span></div>
                    <div><h4>Teléfono: </h4>   <span th:text="${usuario.telefono}"></span> 
                    	<h4>Fecha de Creación: </h4>   <span th:text="${usuario.fechaCreacion}"></span></div>
                    
               
                <div class="user">
                    
                    </div> 
                </div> 
            </div>
        </div>
       </div>
    </article>
    
    <!-- anuncios -->
    <article>
     <div class="container">
        <div class="cardP" th:each="anuncio :${anuncios}">
        <a th:href="@{/anuncios/seleccionar(idProductos=${anuncio.idProductos})}">
            <div class="card-headerP">
                <img th:src="@{${ '/' + anuncio.urlImg}}" alt="rover" />
            </div>
            <div class="card-body">
            	<div class="encabezado">
                	<span class="precio" th:text="${anuncio.precio}"></span>
                	<a th:href="@{/anuncios/modificarR(idProductos=${anuncio.idProductos})}"></a>
                	<a th:href="@{/anuncios/eliminarR(idProductos=${anuncio.idProductos})}"></a>
                	
                	
                </div>
                <h4 th:text="${anuncio.nombre}"></h4>
                <p th:text="${anuncio.categoria}"></p>
                <p th:text="${anuncio.estado}"></p>
                <p th:text="${anuncio.descripcion}"></p>
                
            </div>
            </a>
        </div>
       </div>
       </article>
    
    </body>
</html>